.roomCard {
  width: 320px;
}
.name {
  width: 300px;
  overflow: 'hidden';
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}
.description {
  overflow: 'hidden';
  height: 80px;
  text-overflow: ellipsis;
  overflow-y: hidden;
}
