.profileContainer {
  margin: 20px;
  max-width: 100%;

  display: grid;
  height: 100%;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .profileLeftContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    .contactContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .contactBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .contactText {
          width: 100%;
          text-align: center;
        }
      }
      .editProfileButton {
        width: 80%;
        margin-bottom: 20px;
      }
    }

    .avatar {
      transform: translateX(100%);
    }

    .birthDayContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  border: 2px solid #000;
  box-shadow: 24rem;
  padding: 4rem;
}
.officeSelect {
  margin-top: 5px;
}
.bookingsContainer {
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: center;
}
.bookingCardContainer {
  justify-content: center;
}
.bookingCard {
  padding: 10px;
  margin: 10px;
}
